<h1>プロフィール</h1>
      <div class="card" style="width: 18rem;">
        <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', class:"bg-placeholder-img card-img-top" %>
        <div class="card-body">
          <div class="card-title"><%= user.name %></div>
          <p class="card-text">
            <%= user.introduction %>
          </p>
          <p>フォロー数：<%= link_to user.follower.count, followings_user_path(user) %></p>
          <p>フォロワー数：<%= link_to user.followed.count, followers_user_path(user) %></p>
          <% if user == current_user %>
          <%= link_to 'プロフィール編集', edit_user_path(user), class:'btn btn-info' %>
          <% end %>
          <% unless current_user == user %>
            <% if current_user.following?(user) %>
              <%= link_to 'フォロー解除', unfollow_path(user), method: :post, class:'btn btn-danger' %>
            <% else %>
              <%= link_to 'フォローする', follow_path(user), method: :post, class:'btn btn-info' %>
            <% end %>
          <% end %>
        </div>
      </div>