<div class="container">
  <%= render 'layouts/error_messages', obj: @user %>
<h1>プロフィール編集</h1>
  <div class="row">
    <div class="col">
      <div class="form">
        <%= form_with model:@user, local: true do |f| %>
          <h3>名前</h3>
          <%= f.text_field :name, autofocus: true, class:'form-control' %>
          <h3>プロフィール画像</h3>
          <%= f.attachment_field :profile_image, placeholder: 'プロフィール画像' %>
          <h3>自己紹介</h3>
          <%= f.text_area :introduction, class:'form-control' %>
          <%= f.submit '送信', class:'btn btn-info' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
