<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Users#index</h1>
      <div class="form">
      <%= form_with model: @book, local: true do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, class:'form-control' %>
        </div>
        <%= f.submit 'é€ä¿¡' %>
      <% end %>
      </div>
    </div>
  </div>
</div>