<h2>Books</h2>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>User</th>
          <th>Title</th>
          <th>Content</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% books.each do |book| %>
        <tr id="book_<%= book.id %>">
          <td><%= book.user.name %></td>
          <td><%= link_to book.title, book_path(book) %></td>
          <td><%= book.content %></td>
          <td class="like-btn">
            <%= render 'likes/like-btn', book: book %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>