<div class="container">
  <div class="row">
    <div class="col-7">
    <h1>Book</h1>
    
    <table class="table">
      <tbody>
        <tr id="book_<%= @book.id %>">
          <td><%= @book.user.name %></td>
          <td><%= @book.title %></td>
          <td><%= @book.content %></td>
          <td class="like-btn">
            <%= render 'likes/like-btn', book: @book %>
          </td>
          <td class="book-comments-count">コメント数：<%= @book.book_comments.count %></td>
          <% if current_user == @book.user %>
          <td><%= link_to '編集する', edit_book_path(@book), class:'btn btn-success' %></td>
          <td><%= link_to '削除する', book_path(@book), method: :delete, class:'btn btn-danger' %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    
    </div>
    
    <div class="col-5">
      <div class="book-comments">
        <%= render 'book_comments/index', book: @book %>
      </div>
      <div class="book-comment-form">
        <%= form_with model:[@book, @book_comment], remote: true do |f| %>
          <%= f.text_area :comment, class:'form-control' %>
          <%= f.submit '送信', class:'btn btn-info' %>
        <% end %>
      </div>
    </div>
    
      
  </div>
</div>

