<!DOCTYPE html>
<html>
  <head>
    <title>BookersReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">Bookers</a>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "ユーザー一覧", users_path, class:'nav-link' %></li>
            <li class="nav-item"><%= link_to "投稿一覧", books_path, class:'nav-link' %></li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:'nav-link' %></li>
            <% else %>
            <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class:'nav-link' %></li>
            <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class:'nav-link' %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
